.home-top-row
  .left-column
    %h2 We're making one aspect of life easier for parents of multiples:

    .row.interior#owl-row
      %span
        = image_tag "homepage/owl_44_44.png"
        %h3 buying and selling gently used sets of clothes!

    .row.interior#shop-now-row
      = link_to "Shop Now!", auctions_path, class: "button primary"

    %p#mission-statement
      Our goal is to take on the hassle of cosigning your clothes. We help you trade with parents of other multiples.

    .row.interior#tree-row
      %span
        %h2 Welcome to Savings Multiplied,
        %p your new online source for all things Multiples.
      %span#tree-span
        = image_tag "homepage/tree.png"

  .right-column
    #child_images
      = image_tag "children/twins.jpg"
      = image_tag "children/triplets.jpg"
      = image_tag "children/quads.jpg"
.home-bottom-row
  .home-bottom-column
    %ul#callout_images
      %li= image_tag "homepage/facebook_callout.png"
      %li= image_tag "homepage/twitter_callout.png"
      %li= image_tag "homepage/message_board_callout.png"
      %li= image_tag "homepage/special_offers_callout.png"
