.home-top-row
  .left-column
    %h2 We're making one aspect of life easier for parents of multiples:

    %span
      = image_tag "homepage/owl_44_44.png"
      %h3 buying and selling gently used sets of clothes!

    = link_to "Shop Now!", auctions_path, class: "button primary"
    = image_tag "homepage/tree.png"

  .right-column
    #child_images
      = image_tag "children/twins.jpg"
      = image_tag "children/triplets.jpg"
      = image_tag "children/quads.jpg"
.home-bottom-row
  .home-bottom-column
    %ul#callout_images
      %li= image_tag "homepage/facebook_callout.png"
      %li= image_tag "homepage/twitter_callout.png"
      %li= image_tag "homepage/message_board_callout.png"
      %li= image_tag "homepage/special_offers_callout.png"
